{% extends 'app.twig' %}

{% block header %}
  <h1 class="tac">Square Circle Random Pantheon</h1>
  <h2 class="tac">ADMIN</h2>
  <nav class="tar">
    <a href="{{ path_for('home') }}" class="btn">Back to site</a>
    <a href="{{ path_for('logout') }}" class="btn">Logout</a>
  </nav>
{% endblock %}

{% block main %}
  <div class="add-band">
    <h3>Add a band</h3>
    {{ flash('addBandError') | first | raw }}
    {{ flash('addBandSuccess') | first | raw }}
    <form action="{{ path_for('admin') }}" method="post" autocomplete="off">
      <div class="add-band-inputs">
        <div class="add-band-input">
          <label for="bandName" class="db">Band name</label>
          <input type="text" name="bandName" id="bandName" class="input input--200" placeholder="David Maxim Micic, A.i(d)" autofocus>
        </div>
        <div class="add-band-input">
          <label for="bandLink" class="db">Bandcamp link to artist main page</label>
          <input type="text" name="bandLink" id="bandLink" class="input input--300" placeholder="https://davidmaximmicic.bandcamp.com/">
        </div>
      </div>
      <input type="hidden" name="_method" value="post">
      {{ csrf.field | raw }}
      <input type="submit" class="input-submit input-submit--large" value="Add this band already !">
    </form>
  </div>
  <h3>Band list</h3>
  {{ flash('deleteBandSuccess') | first | raw }}
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Band name</th>
        <th>Bandcamp link</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for band in bands %}
      <tr>
        <form action="{{ path_for('admin') }}" class="edit-band" method="post">
          <td><input type="text" name="bandOrder" class="input--75" value="{{ band.order | default('¯\\_ツ_/¯') }}"></td>
          <td><input type="text" name="bandName" value="{{ band.name }}"></td>
          <td><input type="text" name="bandLink" class="input--300"value="{{ band.link | default('¯\\_ツ_/¯') }}"></td>
          <td>
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="bandId" value="{{ band.id }}">
            {{ csrf.field | raw }}
            <input type="submit" class="input-submit" value="update"></input>
          </td>
        </form>
        <td>
          <form action="{{ path_for('admin') }}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="bandId" value="{{ band.id }}" />
            {{ csrf.field | raw }}
            <input type="submit" class="input-submit" value="X"></input>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p><small>¯\_ツ_/¯ <em>means that the value is not specified</em></small></p>
{% endblock %}

{% block footer %}
<footer>
  <hr>
  <p><small><em>"Do you bleed ? You will."</em> - Batman to Superman</small></p>
</footer>
{% endblock %}
